body
{
  padding-top: 50px;
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
}
h1
{
	margin: 0px;     
	color: #000;
	padding: 0px;
	font-size: 48px;
	font-family: "trebuchet ms", sans-serif;    
}

